
DerivedData/ModuleCache/2USX72JZWDBGB/XCTest-1FJM61D2FSIU5.pcm

DerivedData/AnimatTutorialsOC/Build/Intermediates/AnimatTutorialsOC.build/Debug-iphonesimulator/AnimatTutorialsOC.build/AnimatTutorialsOC-all-non-framework-target-headers.hmap

*.hmap
DerivedData
